# Ignore all (To ignore ELF executables)
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Advent of Code test files
!test

# Python
*.pyc
__pycache__/

# cookies
cookies.txt
